
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title - Bún Đậu Yummy </title>

</head>
<body>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/styles.css" rel="stylesheet" />

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-3 px-lg-4">
            <a class="navbar-brand" href="#!">BÚN ĐẬU YUMMY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Trang Chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Giới Thiệu</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cửa Hàng</a>
                    </li>
                    <li class="nav-item active">
                    
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <img src="~/IMG/cart-image.png" style="width: 30px; height:30px" />
                        @Html.ActionLink("Giỏ hàng", "GetCartInfo", "Cart", new { area = "" }, new { @class = "nav-link" })
                        

                    </button> 
                </form>

                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        @Html.ActionLink("Đăng Nhập", "Login", "Acc", new { area = "" }, new { @class = "nav-link" })
                    </button>_
                </form>

                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        @Html.ActionLink("Đăng Ký", "Registration", "Acc", new { area = "" }, new { @class = "nav-link" })
                    </button>
                </form>
            </div>

        </div>
    </nav>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
